@theme {
  --animate-check-in: check-in 0.4s ease-out forwards;
  @keyframes check-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    70% {
      opacity: 1;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-shine: shine 2s linear infinite;
  @keyframes shine {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}
