::-webkit-scrollbar {
  @apply h-[4px] w-[4px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-white/10;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
