@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* Colors */
  --color-background: #121614;
  --color-foreground: #ffffff;
  --color-primary: #47a3ff;
  --color-primary-foreground: #001a0c;
  --color-secondary: #242926;
  --color-secondary-foreground: #d1fae4;
  --color-destructive: #f14158;
  --color-destructive-foreground: #f14158;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #313532;
  --color-accent-foreground: #18181b;
  --color-popover: #ffffff;
  --color-popover-foreground: #09090b;
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  --color-positive: #50cd89;
  --color-warning: #cdb150;
  --color-blend-primary: #d1fae4;
  --color-border: #2b2e34;

  --color-yellow: #f6f655;
  --color-green: #5eed87;

  /* Radius */
  --radius-10: 0.625rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;

  /* Font Family */
  --font-sans: 'Manrope', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-actual: 'Actual', sans-serif;

  /* Font Size */
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-22: 1.375rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-30: 1.875rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
  --text-60: 3.75rem;
  --text-64: 4rem;
  --text-68: 4.25rem;
  --text-72: 4.5rem;
  --text-75: 4.6875rem;
  --text-96: 6rem;

  /* Background Images */
  --background-image-global:
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    linear-gradient(
      141deg,
      rgba(113, 115, 13, 0.01) 0%,
      rgba(113, 115, 13, 0.15) 5.62%,
      rgba(94, 138, 133, 0.2) 77.18%,
      rgba(94, 138, 133, 0.2) 100%
    );
  --background-image-main: linear-gradient(90deg, #f6f655 0%, #5eed87 100%);
  --background-image-secondary-button: linear-gradient(
    90deg,
    rgba(246, 246, 85, 0.1) 0%,
    rgba(94, 237, 135, 0.1) 100%
  );
  --background-image-raydial-10: radial-gradient(
    119.09% 136.65% at 2.81% 0%,
    rgba(228, 228, 231, 0.1) 0%,
    rgba(115, 115, 115, 0.1) 100%
  );
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-light text-white antialiased;
    @apply font-manrope text-foreground leading-normal;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

@utility drag-region {
  -webkit-app-region: drag;
}

@utility webkit-text-clip {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@utility container {
  @apply mx-auto px-4;
}
